
path {
    stroke: #ED7C31;
    stroke-width: 0.4;
    fill: none;
}

path.current, path.highlight.current {
    stroke: #be1932;
    stroke-width: 2;
}

.SAS.highlight { stroke: #895881; }
.ECS.highlight { stroke: #ED7C31; }
.MEA.highlight { stroke: #82A5C0; }
.SSF.highlight { stroke: #6E9E75; }
.LCN.highlight { stroke: #00BBD6; }
.EAS.highlight { stroke: #e25f82; }
.NAC.highlight { stroke: #be1932; }
.highlight { stroke-width: 1px; } 

line {
    stroke: black;
}

text {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 11px;
}

.axis {
    stroke-width: 0.8;
    stroke: #000;
}

.xTicks, .yTicks {
    stroke-width: 0.6;
    stroke: #000;
}
.xlabel, .ylabel {
    font-weight: bold;
    color: gray;
}

.card {
    border: none !important;
}

.card-body {
    min-height: 120px;
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: -30px;
}

.nav-pills {
    margin: 2px;
    font-size: small;
}

.nav-link {
    padding: 0.2rem 0.5rem;
}

.tooltip {
    background-color: #be1932;
    border-radius: 10px;
    padding: 10px;
    color: white;
}